<script type='text/x-handlebars-template' id='faostat_ui_pivot_structure'>
        <h1>
            <!--{{preview_label}}-->
        </h1>
        <div class="fs-table-holder">
            <div id='pivot_placeholder' style="font-size:12px;" data-role="pivot"
                {{#if this.render}}{{else}}style="display:none;"{{/if}} class="bootstrap-content-box-reset">

            </div>
        </div>
</script>